{% extends 'blog/blog_main.html' %}

{% block title %}
    <title>
    Posts
    </title>
{% endblock %}

{% block body %}
    <h5>Posts</h5>
<div class="container">
{% for post in posts %}
    <hr>
    <div class="card">

        <div class="card-header">
            <a href="{% url 'blog:user_view' username=post.author.username %}">{{ post.author.username }}</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>

            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer text-muted">
            {{ post.created }}
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}